html,
body {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
  background: #c2d1cd;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 20px;
}

.App {
  background: #edeff1;
  max-width: 1240px;
  width: 100%;
  /* padding: 20px; */
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
}

.outerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftContainer {
  width: 50%;
  padding-left: 57px;
}

.rightContainer {
  width: 50%;
  height: 700px;
  background-image: linear-gradient(to bottom right, #BACACB, #8FA6A7);
}

.days  {
  max-width: 400px;
  font-weight: 400;
  font-size: 78px;
  line-height: 78px;
  color: #292929;
  letter-spacing:-1.76px;
}

.time {
  font-weight:300;
}

/*
    .centered-div {
      width: 200px;
      height: 200px;
      background-color: #ccc;
    }
   */
